<p><a routerLink="/admin/products/new" class="btn btn-primary">Product Form</a></p>
<input #query (keyup)="filter(query)" type="text" class="form-control" placeholder="Search...">
<table class="table table-striped" [svData]="filteredProducts" #sv="svDataTable" [svRowsOnPage]="5" svSortBy="title" svSort>
    <thead>
        <tr>
            <th style="width: 20%">
                <sv-default-sorter by="title">Title</sv-default-sorter>
            </th>
            <th style="width: 20%">
                <sv-default-sorter by="price">Price</sv-default-sorter>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of filteredProducts">
            <td>{{p.payload.val().title}}</td>
            <td>{{p.payload.val().price | currency:'USD':true}}</td>
            <td>
                <a [routerLink]="['/admin/products/' , p.key]">Edit</a>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4">
                <sv-bootstrap-paginator [rowsOnPageSet]="[5,10,25]"></sv-bootstrap-paginator>
            </td>
        </tr>
    </tfoot>
</table>